@model UnlockMe.Web.ViewModels.Post.PostListViewModel
@{
    this.ViewData["Title"] = "All Posts, page " + Model.PageNumber;
}
<h1>@this.ViewData["Title"]</h1>
<hr>
<div class="row">
    @foreach (var post in this.Model.Posts)
    {
        <div class="col-md-4 p-4" )>
            <div class="card p-4" margin: 10px">
                    <img style="filter:blur(3px)" src="@post.ImagePath" width="300" class="mr-3" img-responsive/>
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <h6 class="card-text">@post.Description</h6>
                    <a asp-action="ById" asp-route-id="@post.Id" target="_blank" class="btn btn-primary">Open Picture</a>
                </div>
            </div>
        </div>
    }
</div>
<hr>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item" aria-current="page">
            <a class="page-link" asp-action="All" asp-route-id="1">Newest</a>
        </li>
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> } ">
            <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">@Model.PageNumber</a>
        </li>
        @for (int i = Model.PageNumber + 1; i < Model.PageNumber + 3; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item  @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
        <li class="page-item" aria-current="page">
            <a class="page-link" asp-action="All" asp-route-id="@Model.PagesCount">Oldest</a>
        </li>
    </ul>
</nav>
