@model UnlockMe.Web.ViewModels.Post.SinglePostViewModel
@{
    this.ViewData["Title"] = Model.Title;
}
<div class="single-recipe-layout1">
    <div class="ctg-name">@this.Model.TagName</div>
    <h2 class="item-title">@this.ViewData["Title"]</h2>
    <h2 class="item-title">@this.Model.Description</h2>
    <div class="row mb-4">
        <div class="col-xl-9 col-12">
            <ul class="entry-meta">
                <li class="single-meta">
                    <i class="far fa-calendar-alt"></i>@this.Model.CreatedOn.ToShortDateString()
                </li>
                <li class="single-meta">
                    <a href="#">
                        <i class="fas fa-user"></i>by <span>
                            @this.Model.AddedByUserUserName
                        </span>
                    </a>
                </li>
                @*<li class="single-meta">
                        <ul class="item-rating">
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li><span>9<span> / 10</span></span> </li>
                        </ul>
                    </li>*@
                <li class="single-meta">
                    <a href="#">
                        <i class="fas fa-heart" data-vote></i><span>TODO</span>
                        Likes
                    </a>
                </li>
            </ul>
        </div>
        @*<div class="col-xl-3 col-12">
                <ul class="action-item">
                    <li><button><i class="fas fa-print"></i></button></li>
                    <li><button><i class="fas fa-expand-arrows-alt"></i></button></li>
                    <li class="action-share-hover">
                        <button><i class="fas fa-share-alt"></i></button>
                        <div class="action-share-wrap">
                            <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#" title="pinterest"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#" title="skype"><i class="fab fa-skype"></i></a>
                            <a href="#" title="rss"><i class="fas fa-rss"></i></a>
                        </div>
                    </li>
                </ul>
            </div>*@
    </div>
    <div class="item-figure">
        <img src="@Model.PictureUrl" alt="Picture:@Model.Title" />
    </div>
    <div>
        <a asp-action="ById" asp-route-id="TODO" target="_blank" class="btn btn-primary">Unlock Picture</a>
    </div>
    <div class="item-feature">
        <ul>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Upload date</div>
                            <div class="feature-sub-title">@Model.CreatedOn</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fas fa-unlock"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Ulocks</div>
                            <div class="feature-sub-title">0</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Likes</div>
                            <div class="feature-sub-title">0</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="far fa-eye"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">VIEWS</div>
                            <div class="feature-sub-title">TODO</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Profile info - Link to the profile of the owner of the post, name of profile, description of the profile, number of posts -->
<div class="recipe-author">
    <div class="media media-none--xs">
        <img src="TODO: PROFILE PICTURE" alt="Avatar of User" class="rounded-circle media-img-auto">
        <div class="media-body">
            <h4 class="author-title">@Model.AddedByUserUserName</h4>
            <h5 class="author-sub-title">Written by</h5>
            <p>
                TODO DESCRIPTION IN PROFILE FOR USER
            </p>
        </div>
    </div>
</div>
<li class="single-meta">
    <form asp-action="Delete" asp-route-id="@Model.Id">
        <button>Delete Post</button>
    </form>
</li>
<div>
    <a asp-action="ById" asp-route-id="TODO" target="_blank" class="btn btn-primary">Go to profile</a>
</div>
