@using UnlockMe.Common
@model UnlockMe.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<h1>Welcome to UnlockMe</h1>
<hr>
<div class="text-center">
    <div class="col-md-12">
        <div class="row">
            @foreach (var randomPost in Model.RandomPosts)
            {
                <div class="col-md-4 p-2">
                    <div class="card p-4">
                        <img src="@randomPost.ImagePath" />
                        <div class="card-body">
                            <h5 class="card-title">@randomPost.Title</h5>
                            <h6 class="card-text">@randomPost.Description</h6>
                            <a asp-action="ById" asp-route-id="@randomPost.Id" target="_blank" class="btn btn-primary">Open Picture</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<hr>
<p>Profiles</p>
<p>Videos</p>
<hr>
<p>Golden Subscribition</p>
<hr>
<p>Statistics</p>
<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-4 offset-md-4">
        <ul class="list-group">
            <li class="list-group-item bg-primary text-light font-weight-bold d-flex justify-content-between align-text-center">
                UnlockMe Statistics
                <span class="badge badge-primary text-light font-weight-bold justify-content-between align-text-center">TOTAL</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Public Posts:
                <span class="badge badge-primary badge-pill"> @Model.PostCount </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Upload Pictures:
                <span class="badge badge-primary badge-pill"> @Model.PicturesCount </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Registered Users:
                <span class="badge badge-primary badge-pill"> @Model.UsersCount </span>
            </li>
        </ul>
    </div>
</div>

